pyspark==3.2.0
textblob==0.8.4
Flask==2.2.5
Celery==5.0.0
Pillow==9.2.0
SQLAlchemy==1.0.0
PyPDF2==2.12.1
Pytest==4.0.0
utils==1.0.1
sumeval==0.2.2
tensorflow==2.14.0
wget==3.2
sumy==0.11.0
numpy==1.23.5
newspaper3k==0.2.8
nltk==3.8.1
gensim==4.3.2
scipy==1.11.0
pandas==2.0.3
html2text==2018.1.9
lxml.html.clean==0.1.1
